body{
    color:#ba4f83;
    font-family: 'Quicksand', sans-serif;

}

footer{
    background:#bb5083 !important;
    color: #fff;
}

.navbar-brand{
    color:#bb5083;
margin-right: 0;
font-family: 'Yellowtail', cursive;
}

.nav-link{
    color:#bb5083;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    background:#bb5083;
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
    border-radius: 10px;
}

.hero {
    background: url('./assets/bg-1.png') no-repeat center;
    background-size:cover;
    padding: 3rem 1.5rem ;
}

.butterfly{
    z-index: 2;
    position: absolute;
    float: right;
    margin: 0 auto;
    width: 66%;
}

#quien_soy{
    background: url('./assets/bg-2.png') no-repeat center;
    background-size:cover;
    padding: 3rem 1.5rem ;
    background: right 2rem top calc(3 * var(--linkheight)) / 15em var(--linkheight) no-repeat linear-gradient(#ccc, #ccc);
}

#ayudarte{
    background: url('./assets/bg-1.png') no-repeat center;
    background-size:cover;
    padding: 3rem 1.5rem ;
}

#contacto{
    background: url('./assets/bg-2.png') no-repeat center;
    background-size:cover;
}

.email{
    font-size: 1rem;
}

@media (min-width: 800px) {
    .email{
        font-size: 1.2rem;
    }
  }